# Node.js
node_modules/
npm-debug.log

# Dependency directories
jspm_packages/

# Environment variables
.env

# macOS
.DS_Store

# Editor directories/files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
